@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<SitecoreBootstrap.SitecoreBootstrap.Web.Models.sitecore.templates.User_Defined.Base.IPage>
@{    
    Layout = "~/Views/Layouts/Shared/_Master.cshtml";
}

<h1>@Model.Title</h1>